{% macro table(dict, n)%}
{% set h = list(dict.keys()) %}
{% set l = len(dict[h[0]]) %}
<table>
    <thead><tr>
        {% for k in h %}
            <th>
                {{ k }}
            </th>
        {% endfor %}
    </tr></thead>
    <tbody>
        {% if l > n%}
            {% for i in range(n//2)%}
                <tr>
                    {% for k in h %}
                    <td>
                        {{ dict[k][i] }}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
            {% for _ in h %}
                <td>...</td>
            {% endfor %}
            </tr>
            {% for i in range(n//2, l)%}
                <tr>
                    {% for k in h %}
                    <td>
                        {{ dict[k][i] }}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
        {% for i in range(l)%}
                <tr>
                    {% for k in h %}
                    <td>
                        {{ dict[k][i] }}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endmacro %}

<html>
<style>
    table{
        border-collapse: collapse;
    }
    td, th{
        border: solid thin black;
    }
</style>
<body>
</body>
    {{ table(dict, n) }}
</html>